/Deploy
/CsvProcessor/bin
/CsvProcessor/obj
/PdfReader/.vs
/PdfReader/bin
/PdfReader/obj
/PhisUploadRecord/bin
/PhisUploadRecord/obj
/ConsentSync/.vs
/ConsentSync/ConsentSyncCore/bin
obj
bin
publish-ui
/immunizations_processed.csv
/Capture.PNG
/Deploy.7z
/To_Extract.zip
/Logs
/Database
/DefaultChromeDir
/Tools/Chrome
/Tools/ChromeDriver
/Tools
/Abbey Landry.7z
